{% extends "base.html" %}

{% block content %}

  <h1 class="heading-large">Find international e-marketplaces for your business to export</h1>

  <form method="get" action="{% url 'markets3:list' %}">
    <div class='cf push--bottom grid-row'>
      Filter magic here
    </div>
    <button class='button' type='submit'>Next step</button>
    <a class='button skip' href='{% url 'markets3:list' %}?{{ request.GET.urlencode }}' style='background-color: #6F777B'>Skip this step</a>
  </form>

{% endblock content %}
