{% extends "base.html" %}

{% block content %}
  
  <h1 class='heading-xlarge'>
    Find ecommerce marketplaces overseas
  </h1>

  <p>
    Use this service to help choose a suitable online marketplace to sell
    your products overseas.
  </p>

  <h2 class='heading-medium'>Before you start</h2>
  <p>You'll need to know:</p>

  <ul class="list list-bullet">
    <li>where you'd like to sell your products online</li>
  </ul>

  <a class='button button-start' href='{% url 'markets2:region-choice' %}'>Start now</a>

{% endblock content %}
