{% extends "base.html" %}
{% load static utils %}

{% block body_class %}sol2{% endblock %}

{% block content %}
  {% comment %}
  <form method="get" action="{% url 'markets2:list' %}">
    {{ form.as_p }}
    <input type='submit' value='submit'/>
  </form>
  {% endcomment %}

  <div class="grid-row">
    <div class="column-one-whole heading">
      <h1 class="heading-large">
        <span class="heading-secondary">Find ecommerce marketplaces overseas</span>
        {{ markets_list.count }} option{{markets_list|pluralize}} found
      </h1>
    </div>
  </div>

  <div class="grid-row">

      {% if markets_list %}
      <ul class="list list-market">
        {% for market in markets_list %}
          <li class="list-market--item cf">
            <div class='column-half'>
              <h2 class='heading-medium'>{{market.name}}</h2>
              <dl>
                <dt>Region</dt>
                <dd>{{market|regions}}</dd>
                <dt>Website</dt>
                <dd>{{market.web_address|safe}}</dd>
              </dl>
              <dl class='details'>
                <dt>Platform sales model</dt>
                <dd>{% with description=market.misc1|safe %}{{description|default:'&nbsp;'}}{% endwith %}</dd>
                <dt>Customer service channels</dt><i class="icon icon-information"></i>
                <dd>{{market.misc2|safe}}</dd>
                <dt>Local incorporation to join</dt>
                <dd>{{market.misc3|safe}}</dd>
                <dt>Payment time frames</dt>
                <dd>{{market.misc4|safe}}</dd>
                <dt>Fixed exchange fees</dt>
                <dd>{{market.misc5|safe}}</dd>
                <dt>Registration fee</dt>
                <dd>{{market.misc6|safe}}</dd>
                <dt>Commission on sales</dt>
                <dd>{{market.misc7|safe}}</dd>
              </dl>
            </div>
            <div class="column-half background--grey">
              <ul class="soft">
                <li class="list list-market--extra">

                  <h4 class="font-xxsmall">Website traffic</h4>
                  <p class="flush--bottom">{{ market.misc10|safe }}</p>
                  <p class="font-xxsmall flush--bottom flush--top">unique visitors / month</p>
                </li>
                <li class="list list-market--extra">
                  <p class="font-xxsmall flush--bottom flush--top">{{ market.misc11|safe }}</p>
                </li>
                <li class="list list-market--extra">
                  <p class="font-xxsmall flush--bottom flush--top">{{ market.misc12|safe }}</p>
                </li>
                <li class="list list-market--extra">
                  <p class="font-xxsmall flush--bottom flush--top">{{ market.misc13|safe }}</p>
                </li>
              </ul>
            </div>
            <div class='column-half hard--left'>
              <dl class='details'>
                <dt>Logistics model</dt>
                <dd>{% with description=market.misc8|safe %}{{description|default:'&nbsp;'}}{% endwith %}</dd>
                <dt>Logistic support</dt><i class="icon icon-information"></i>
                <dd>{{market.misc9|safe}}</dd>
              </dl>
              <a href="#" class="icon-next">Things you may need to consider</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No market options are available.</p>
      {% endif %}
    </div>
  </div>

{% endblock content %}
