{% extends "base.html" %}

{% load static utils %}

{% block content %}

  <h1 class="heading-large flush--top soft--bottom">Find ecommerce marketplaces overseas</h1>
    <div class="grid-row">
      <div class="column-one-third">
        <ul class="list list-section">
          {% for link in links %}
            <li><a class="list-link {% if link.1 == request.get_full_path %} active {% endif %}" href="{{ link.1 }}">{{ link.0 }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column-two-thirds">
        <div class="list-result">
          {% if markets_list %}
            <h2 class="heading-large">Online marketplaces</h2>
            <ul class="">
              {% for market in markets_list %}
                <li class="push--bottom">
                  <h6 class="font-xsmall">{{ market.name }}</h6>
                  <a class="font-xsmall" href="{{ market.web_address }}">{{ market.web_address|safe }}</a>
                </li>
              {% endfor %}
            </ul>
          {% elif article %}
            <h2 class="heading-medium flush--top">Online marketplaces</h2>
            <h1 class="heading-small push--bottom">{{ article.title }}</h1>
            <div class="font-xsmall">{{ article.content|safe }}</div>
        {% endif %}
          <h3 class="list-help heading-medium">AtoZ</h3>
        </div>
    </div>
  </div>

{% endblock content %}
