{% extends "base.html" %}

{% block content %}
  <h1 class="heading-large">Find international e-marketplaces for your business to export</h1>
  <p>Which products categories do you have in mind to export?</p>

  <p>Please select all that apply</p>
  <form method="get" action="{% url 'markets:list' %}">
    <div class='cf push--bottom'>
      {% for region in regions %}
        <input type='hidden' name='region' value='{{region}}'>
      {% endfor %}
      {% for field in form %}
        {% for radio in field %}
          <label for="{{ radio.id_for_label }}" class='block-label'>
            {{ radio.choice_label }}
            <span class="radio">{{ radio.tag }}</span>
          </label>
        {% endfor %}
      {% endfor %}
    </div>
    <button class='button' type='submit'>Next step</button>
    <a class='button skip' href='{% url 'markets:list' %}' style='background-color: #6F777B'>Skip this step</a>
  </form>
{% endblock content %}
