{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class='grid-row'>
    <h1 class='heading-xlarge column-three-quarters'>{{market.name}}</h1>
    <p class='column-one-quarter'>Last updated: {{ market.last_modified }}</p>
  </div>

  <div class='grid-row detail-intro'>
    <div class='column-one-half'>
      <img src='{{ market.logo.base64_logo }}' width='100' height='100' alt=''>
      <dl>
        <dt>Region:</dt>
        <dd>{{market.region|safe}}</dd>
        <dt>Country:</dt>
        <dd>{{market.country|safe}}</dd>
        <dt>Website:</dt>
        <dd><a href='{{market.web_address}}'>{{market.web_address}}</a></dd>
      </dl>
      <p>{{market.description}}</p>
    </div>
    <div class='column-one-half'>
      <div class='detail-ukti-terms'>
        <ul class="soft">
          <li class="list list-market--extra">
            <h4 class="font-xxsmall">Website traffic</h4>
            <p class="flush--bottom">{{ market.web_traffic_to_site }}</p>
            <p class="font-xxsmall flush--bottom flush--top">unique visitors / month</p>
          </li>
          <li class="list list-market--extra">
            <p class="font-xxsmall flush--bottom flush--top">{{ market.logistics_structure }}</p>
          </li>
          <li class="list list-market--extra">
            <p class="font-xxsmall flush--bottom flush--top">{{ market.buyers_customer_service }}</p>
          </li>
          <li class="list list-market--extra">
            <p class="font-xxsmall flush--bottom flush--top">Application process: Easy</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='grid-row detail-row'>
    <h3>Site</h3>
    <dl>
      <li>
        <dt>Site traffic</dt>
        <dd>{{market.web_traffic_to_site}}</dd>
      </li>
      <li>
        <dt>Revenue</dt>
        <dd>{{market.revenue}}</dd>
      </li>
      <li>
        <dt>Parent company</dt>
        <dd>{{market.parent_company_name}}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Products</h3>
    <dl>
      <li>
        <dt>Positioning</dt>
        <dd>{{ market.platform_target_market }}</dd>
      </li>
      <li>
        <dt>Listing languages</dt>
        <dd>{{market.listing_languages}}</dd>
      </li>
      <li>
        <dt>Product visibility</dt>
        <dd>{{market.product_visibility}}</dd>
      </li>
      <li class='wider'>
        <dt>Customer Service &amp; Returns</dt>
        <dd>{{market.buyers_customer_service|safe}}</dd>
      </li>
      <li>
        <dt>Product feedback system</dt>
        <dd>{{market.product_feedback_system}}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Logistics &amp; fulfillment</h3>
    <dl>
      <li>
        <dt>Logistics support</dt>
        <dd>{{market.logistics_structure}}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Application process and payment terms</h3>
    <dl>
      <li>
        <dt>Seller application process</dt>
        <dd>{{market.seller_application_process}}</dd>
      </li>
      <li>
        <dt>Payment terms</dt>
        <dd>{{market.payment_terms|safe}}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Fees &amp; Pricing structure</h3>
    <dl>
      <li>
        <dt>Subscription fee</dt>
        <dd>{{market.subscription_fees}}</dd>
      </li>
      <li>
        <dt>Registration fee</dt>
        <dd>{{market.registration_fees}}</dd>
      </li>
      <li>
        <dt>Additional operating fees</dt>
        <dd>{{market.additional_fees}}</dd>
      </li>
      <li>
        <dt>UKTI Terms</dt>
        <dd>{{market.additional_fees}}</dd>
      </li>
      <li>
        <dt>Referral fees</dt>
        <dd>{{market.referral_fees}}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Merchandising</h3>
    <dl>
      <li>
        <dt>Shopfront customization</dt>
        <dd>{{market.customization}}</dd>
      </li>
      <li>
        <dt>Shop analytics</dt>
        <dd>{{market.shop_analytics}}</dd>
      </li>
      <li>
        <dt></dt>
        <dd>{{market.additional_fees}}</dd>
      </li>
      <li>
        <dt>UKTI Terms</dt>
        <dd>{{market.additional_fees}}</dd>
      </li>
      <li>
        <dt>Referral fees</dt>
        <dd>{{market.referral_fees}}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Legal requirements</h3>
    <dl>
      {# FIXME hardcoded #}
      <li>
        <dt>Prohibited items</dt>
        <dd>
          — Adult products<br>
          — Drugs &amp; Dietary Supplements<br>
          — Kindle / Fire Accessories<br>
          — Offensive Products<br>
          — Recalled Products<br>
        </dd>
      </li>
      {# FIXME hardcoded #}
      <li>
        <dt>Local laws</dt>
        <dd>
          <p>
            Attorney for Custom Procedures (ACP) is required to import goods
            into Japan if the seller does not have an importer (Amazon can refer).
          </p>
          <p>
            For more details, please visit:
            <a href='#TODO'>http://services.amazon.co.jp/services/out-of-country/en/local-laws.html?id=EL-UKTI-Req</a>
        </dd>
      </li>
    </dl>
  </div>

  <div class='grid-row next-steps'>
    <h2>Next steps</h2>
    <p>To register interest and start the process please fill out this form.</p>
    <a href='#TODO' class='button'>Regsiter your interest</a>
  </div>
{% endblock content %}
