{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="grid-row">
    <div class="column-one-whole heading">
      <h1 class="heading-large">
        <span class="heading-secondary">Find your marketplace</span>
        {{ markets_list.count }} option{{markets_list|pluralize}} found
      </h1>
      <p class="heading-last-updated font-xsmall">Last updated: 15/07/16</p>
    </div>
  </div>

  <div class="grid-row">

      {% if markets_list %}
      <ul class="list list-market">
        {% for market in markets_list %}
          <li class="list-market--item cf">
            <div class="column-three-fifths">
              <div class="push--right">
                <div class="cf">
                  <div class="column-one-quarter hard--left">
                    <img src="{% get_media_prefix %}{{ market.logo }}" class="image-full">
                  </div>
                  <div class="column-three-quarters">
                    <div class="push--left">
                      <h3 class="heading-medium flush--top push--bottom">{{ market }}</h3>
                      <ul>
                        <li class="list-market--info">Region: {{ market.region }}</li>
                        <li class="list-market--info">Country: {{ market.country }}</li>
                        <li class="list-market--info">Website: <a href="{{ market.website }}">{{ market.website }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p class="soft--top column-one-whole hard--left">{{ market.description }}</p>
                <a href="{% url 'markets:detail' market.id %}">More details</a>
              </div>
            </div>
            <div class="column-two-fifths background--grey">
              <div class="soft">
                <h4 class="soft--ends lede">UKTI Terms</h4>
                <p class="soft--bottom">{{ market.ukti_terms }}</p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No market options are available.</p>
      {% endif %}
    </div>
  </div>

{% endblock content %}
