{% extends "base.html" %}

{% block content %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">EXPORTING IS GREAT home</a></li>
      <li>Online Export</li>
    </ol>
  </div>

  <div class="column-one-third">
    <form method="get" action="{% url 'markets:list' %}">
      {{ form.as_p }}
      <input type='submit' value='submit'/>
    </form>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">find your place</span>
        {{ markets_list.count }} options found
      </h1>
    </div>
  </div>

  <div class="grid-row">

      {% if markets_list %}
      <ul class="list list-market">
        {% for market in markets_list %}
          <li class="list-market--item">
            <div class="column-three-fifths">
              <div class="column-one-quarter hard--left">
                <img src="http://placehold.it/100x100">
              </div>
              <div class="column-three-quarters">
                <h3 class="heading-medium flush--top push-half--bottom">{{ market }}</h3>
                <ul>
                  <li class="list-market--info">Region: North Hemisphere</li>
                  <li class="list-market--info">Country: Random</li>
                  <li class="list-market--info">Website: <a href="">www.website.com</a></li>
                </ul>
              </div>
              <p class="soft--top cf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut urna gravida, auctor metus maximus, sodales lectus. Donec laoreet, risus non mattis.</p>
              <a href="{% url 'markets:detail' market.id %}">More details</a>

            </div>
            <div class="column-two-fifths background--grey">
              <ul class="soft">
                <li class="list list-market--extra">
                  <h4 class="font-xsmall">Monthly unique visitors</h4>
                  <p class="flush--bottom lede">100 million</p>
                </li>
                <li class="list list-market--extra">
                  <h4 class="font-xsmall">Revenue (2015)</h4>
                  <p class="flush--bottom lede">USD $1 million</p>
                </li>
                <li class="list list-market--extra">
                  <h4 class="font-xsmall">Another important fact</h4>
                  <p class="flush--bottom lede">000000</p>
                </li>
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No market options are available.</p>
      {% endif %}
    </div>
  </div>

{% endblock content %}
