.button {
  box-shadow: none;
  font-weight: 900;

  &-blue {
    background-color: $link-colour;
    border: 1px solid $link-colour;

    &:visited {
      background-color: $link-colour;
    }
    &:hover {
      background-color: $link-hover-colour;
    }
  }

  &-transparent {
    border: 1px solid $link-colour;

    &:link {
      background-color: transparent;
      color: $link-colour;
    }
    &:visited {
      background-color: transparent;
      color: $link-colour;
    }
    &:hover {
      background-color: transparent;
      color: $link-hover-colour;
    }
  }

}
