.button {
  box-shadow: none;
  font-weight: 900;

  &-blue {
    background-color: $link-colour;
    border: 1px solid $link-colour;

    &:visited {
      background-color: $link-colour;
    }
    &:hover {
      background-color: $link-hover-colour;
    }
  }

  &-transparent {
    border: 1px solid $link-colour;

    &:link,
    &:visited {
      background-color: transparent;
      color: $link-colour;
    }

    &:hover {
      background-color: transparent;
      color: $link-hover-colour;
    }
  }

  &-white {
    border: 1px solid $white;
    background-color: $white;
    color: $link-colour;

    &:link,
    &:visited,
    &:hover {
      background-color: $white;
      color: $link-colour;
    }
  }

  &-grey {
    border: 1px solid $grey-3;
    background-color: $grey-3;
    color: $link-colour;

    &:link,
    &:visited,
    &:hover {
      background-color: $white;
      color: $link-colour;
    }
  }

  &-start,
  &-next {
    background-image: url('/static/images/icon-pointer.png');
    background-color: $link-colour;

    &:link,
    &:visited,
    &:hover {
      background-color: $link-colour;
    }
  }

  &-next {
    background-image: none;
  }

  &-border {
    border: 1px solid $black;
    background-color: transparent;
    color: $black;

    &:link,
    &:visited,
    &:hover {
      background-color: transparent;
      color: $black;
    }
  }

}
