li {
  &.list-market {

    &--item {
      border: 1px solid $grey-1;
      margin: 0 0 20px;
      padding: 20px;
    }

    &--info {
      font-size: 17px;
      line-height: 17px;
    }

    &--extra {
      border-bottom: 1px solid $white;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

      &:first-child {
        padding-top: 0;
      }

      p {
        width: 80%;
      }

      em {
        @include core-27();
        display: block;
        font-style: normal;
        line-height: 1.5 !important;
      }
    }

  }
}

ul {
  &.list-market {
    padding: 15px;
  }
}

body.sol2 ul.list-market {
  h2 {
    margin: 0;
  }

  dl {
    clear: left;
    margin-bottom: 1em;
  }
  dl:after {
    content: '';
    display: block;
    clear: both;
  }

  dt {
    float: left;
    clear: left;
  }
  dt:after {
    content: ': ';
    padding-right: 0.5em;
  }

  dl.details dt {
    font-weight: bold;
  }

  .background--grey {
    margin-bottom: 1em;
  }
}
