li {
  &.list-market {

    &--item {
      border: 1px solid $grey-1;
      margin: 0 0 20px;
      padding: 20px;
    }

    &--info {
      font-size: 17px;
      line-height: 17px;
    }

  }
}

ul {
  &.list-market {
    padding: 15px;
  }
}
